Welcome please enter names
<form action='/names' method='post'>
  <label for=:first>
    Player 1 name
    <input type="text" name=first>
  </label>
  <label for=:second>
    Player 2 name
    <input type="text" name=second>
  </label>
  <input type="submit" name="Submit">
</form>